# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Студенты/
/Сысоев/.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/196e4dbbfe7855b3
/Сысоев/.vs/mp2-lab3-postfix/v16/ipch/AutoPCH/1e00a38af228de7
/Сысоев/.vs/mp2-lab3-postfix/v16/ipch/AutoPCH
/Сысоев/base_test
/Сысоев/gtest
/Сысоев/.vs/mp2-lab3-postfix/v16
